body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

/* --- STRUCTURE ET NAVIGATION --- */
.sidebar {
    
    background-color: var(--primary-color);
    color: white;
    padding-top: 20px;
    position: fixed;
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  /* pousse le dernier élément vers le bas */
}

.sidebar a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    transition: background 0.3s;
}

.sidebar a:hover, .sidebar a.active {
    background-color: rgb(88, 177, 255);
}

.main-content {
    margin-left: 240px;
    padding: 30px;
}

/* --- COMPOSANTS / CARTES --- */
.stat-card {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: gray;
    opacity:0.3;
    border-left: 5px solid rgb(88, 177, 255);
    margin-bottom: 20px;
}

.stat-card.success {
    border-left-color: greenyellow;
}

.stat-card.warning {
    border-left-color: rgb(239, 229, 86);
}

.stat-card.danger {
    border-left-color: red;
}

.stat-number {
    font-size: 2rem;
    font-weight: bold;
    color: blue;
}

/* --- TABLEAUX DE DONNÉES --- */
.custom-table-container {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.table thead {
    background-color: black;
    color: white;
}

/* --- BADGES ET STATUTS --- */
.badge-justified {
    background-color: greenyellow;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
}

.badge-unjustified {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
}

option{
    color: red;
}