{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification admin </title> <link rel="stylesheet" href="{% static 'css/admin1.css' %}">
</head>
<body>
    
    

    <form method="POST" action="{% url 'admin_authen' %}">
        {% csrf_token %}

        <h2>Verification administrateur</h2>
    {%if error%}
    <div style=" color: red;  display: flex; align-self: center; margin-bottom: 20px;">
        {{error}}
    </div> 
    {% endif %}
        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
        
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">ENVOYER</button>
    </form>


</body>
</html>